TOKEN=TOKEN_FROM_DISCORD_DEVELOPER_PORTAL
PREFIX=o!
BOT_NAME=Albion
ASSETS_DIR=__dirname/../assets/

MYSQL_HOST=albion-online-discord-bot-db
MYSQL_USER=ROOT
MYSQL_PASSWORD=PASSWORD
MYSQL_DATABASE=ALBION-ONLINE-DISCORD-BOT
MYSQL_ROOT_PASSWORD=PASSWORD
MYSQL_ALLOW_EMPTY_PASSWORD=true